body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 10px;  
  font-size: 16px;
  margin-bottom: 6px;
  
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  font-size: 16px;
  padding: 12px;
  
  
  
}

button {
  background: white;
  border: 1px solid #eee;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  display: block;
  margin: auto;
  
  
}